@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
*{
    font-family: "DM Sans", sans-serif;
    /* // color: #2B486E; */
    color: #000;
}
body{
    width: 100%;
    height: 100%;
}
body{@apply bg-gray_2;}
.anim{@apply duration-300 transition-all;}
.h1{@apply text-3xl lg:text-4xl xl:text-[40px] 2xl:text-5xl font-extrabold;}
.text36{@apply text-28 lg:text-32 xl:text-36 font-bold;}
.text24{@apply text-18 lg:text-20 xl:text-24;}
.btn-primary{@apply inline-block py-1.5 px-3.5 xl:py-2.5 xl:px-5 bg-primary border border-primary text-white text-center text-14 xl:text-16 whitespace-nowrap font-semibold rounded-md lg:rounded-lg xl:rounded-xl hover:bg-transparent hover:text-primary anim;}
.btn-secondary{@apply  inline-block py-1.5 px-3.5 xl:py-2.5 xl:px-5 bg-transparent border border-slate_1 text-dark text-14 xl:text-16 font-semibold rounded-md lg:rounded-lg xl:rounded-xl anim hover:bg-slate_1 hover:text-white;}
/* label and input css start  */
.label{@apply text-14 font-semibold text-dark mb-1.5 block;}
.input{@apply block w-full py-2 xl:py-2.5 px-2.5 lg:px-3.5 2xl:px-4 text-14 2xl:text-16 text-dark placeholder:text-gray_1 bg-white font-normal border border-slate_2 rounded-xl outline-none;}
/* label and input css end  */
/* CheckBox css start  */
.checkbox{@apply w-5 h-5 rounded border-2 border-slate_2 flex items-center justify-center;}
input:checked + .checkbox{@apply border-primary bg-primary;}
input:checked + .checkbox span{@apply opacity-100;}
/* CheckBox css end  */
/* radio css start  */
.radio{@apply w-5 h-5 rounded-full border-2 border-gray_1 flex items-center justify-center;}
input:checked + .radio{@apply border-primary ;}
input:checked + .radio span{@apply opacity-100;}
/* radio css end  */
/* menu list open,close and hover css start  */
.menu_link{@apply inline-block text-14 font-semibold text-gray_1 group-hover:text-primary anim;}
.menu_icon{@apply text-gray_1 text-24 group-hover:text-primary anim;}
.submenu_link{@apply py-1.5 px-5 pl-14 block text-14 font-medium text-gray_1 hover:text-primary anim;}
.menu_list{@apply flex items-center space-x-2.5 px-6 py-2.5 relative;}
.menu_list::after {
    content: '';
    position: absolute;
    width: 4px;
    background: #D7B56D;
    height: 0%;
    top: 0;
    bottom: 0;
    left: 0;
    transition: 0.3s all ease-in-out;
    z-index: 99;
}
.menu_list:hover,.menu_list.active{
    background-color: #FEFCE8;
}
.menu_list.active span,.menu_list.active a{
    color: #D7B56D;
}
.menu_list.active span.icon-down{@apply -rotate-180;}
.menu_list:hover::after,.menu_list.active::after{
    height: 100%;
}
/* menu list open,close and hover css end  */
/* table css start  */
.common_tabel tr th{@apply text-14 font-semibold text-dark py-3 xl:py-5 px-2 whitespace-nowrap;}
.common_tabel tr td{@apply text-14 font-medium text-slate_3 py-2 xl:py-3 px-2 whitespace-nowrap;}
.table_border tr td{@apply border-b border-slate_2;}
.table_border_t tr td{@apply border-t border-slate_2;}
.table_btn{@apply py-1.5 px-3 bg-primary border border-primary text-white text-14 xl:text-16 font-semibold rounded-md lg:rounded-lg xl:rounded-xl hover:bg-transparent hover:text-primary anim;}
/* table css end  */
/* scrollbar css start  */
*::-webkit-scrollbar {
    scrollbar-width: auto;
    width: 4px;
    height: 4px;
    cursor: pointer;
}

*::-webkit-scrollbar-thumb {
    background-color: #D7B56D;
    border-radius: 1000px;
    cursor: pointer;
}
*::-webkit-scrollbar-track {
    background: transparent;
}
/* scrollbar css end  */

@tailwind utilities;